

@media screen and (max-width:1264px) {
    section {
        width: 60%;
        flex-direction: column;
    }

    .package-container {
        flex-direction: column;
        align-items: center;
        padding-right: 20px;
        width: 90%;
        /* background: red; */
    }
    .package-name {
        margin-bottom: 20px;
    }
    .separator{
        border-left: 1px solid transparent;
    }
}